.toggle {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.item {
  padding: 4px 16px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  font-size: 0.85rem;
  color: var(--color-text-sub);
}

.active {
  background-color: var(--color-bg-sub);
  color: var(--color-text-main);
  font-weight: bold;
}
